<div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; gap: 10px">
 

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Título da postagem</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título da postagem e fazer preencher o conteúdo
        da postagem.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">sub-titulos</li>
      <li class="list-group-item">sub-titulos</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">detalhamento</a>
    </div>
  </div>
