<div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; gap: 10px">
  <div class="card" style="width: 18rem; margin: 30px; ">
    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem do perfil do autor">
    <div class="card-body">
      <h5 class="card-title">Título da postagem</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título da postagem e fazer preencher o conteúdo
        da postagem.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">sub-titulos</li>
      <li class="list-group-item">sub-titulos</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">detalhamento</a>
    </div>
  </div>

  {{!-- POSTAGENS DE EXEMPLO DE COMO FICARÁ QUANDO TIOVER MUITAS POSTAGENS!!! --}}
  <div class="card" style="width: 18rem; margin: 30px">
    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem do perfil do autor">
    <div class="card-body">
      <h5 class="card-title">Título da postagem</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título da postagem e fazer preencher o conteúdo
        da postagem.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">sub-titulos</li>
      <li class="list-group-item">sub-titulos</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">detalhamento</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 30px">
    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem do perfil do autor">
    <div class="card-body">
      <h5 class="card-title">Título da postagem</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título da postagem e fazer preencher o conteúdo
        da postagem.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">sub-titulos</li>
      <li class="list-group-item">sub-titulos</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">detalhamento</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 30px">
    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem do perfil do autor">
    <div class="card-body">
      <h5 class="card-title">Título da postagem</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título da postagem e fazer preencher o conteúdo
        da postagem.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">sub-titulos</li>
      <li class="list-group-item">sub-titulos</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">detalhamento</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 30px">
    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem do perfil do autor">
    <div class="card-body">
      <h5 class="card-title">Título da postagem</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título da postagem e fazer preencher o conteúdo
        da postagem.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">sub-titulos</li>
      <li class="list-group-item">sub-titulos</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">detalhamento</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin: 30px">
    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem do perfil do autor">
    <div class="card-body">
      <h5 class="card-title">Título da postagem</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título da postagem e fazer preencher o conteúdo
        da postagem.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">sub-titulos</li>
      <li class="list-group-item">sub-titulos</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">detalhamento</a>
    </div>
  </div>
</div>