<div class="card">
    <div class="card-body">
        <h4>Nova postagem:</h4>
        <form action="/addPost" method="POST">
            <label for="title">Titulo: </label>
            <input type="text" name="title" class="form-control">
            <label for="content">Conteúdo: </label>
            <textarea name="content" class="form-control"></textarea>
            <button class="btn btn-success mt-4" type="submit">Criar postagem</button>

        </form>
    </div>
</div>