<a href="/"><button class="btn btn-dark">Voltar</button></a>
<br><br>
<div class="card">
    <div class="card-body">
        <h3>{{post.title}}</h3>
        <small>{{post.subTitle}}</small><hr>
        <strong>Conteúdo:</strong>
        <p>{{post.content}}</p>
    </div>
</div>
