<div class="container d-flex flex-column mt-3" style="width: 23rem;">
  {{#each errs}}
    <div class="alert alert-danger">
      <strong>Error! </strong> {{text}}
    </div>
  {{else}}

  {{/each}}

  <main class="text-center bs-body mt-0">
    <div class="shadow form-signup m-auto rounded p-4">
      <div>
        <h1>Cadastre-se</h1>
        <form class="mt-4" action="/signup" method="post">
          <div class="mb-3">
            <label class="form-label float-start" for="">Nome:</label>
            <input type="text" name="displayName" id="name" class="form-control" required>
          </div>
          <div class="mb-3">

            <label class="form-label float-start" for="email">Email:</label>
            <input name="email" type="text" id="email" class="form-control" autofocus required />
          </div>

          <div class="mb-3">
            <label class="form-label float-start" for="password">Senha:</label>
            <input name="password" type="password" class="form-control" id="password" required />
            <label class="form-label float-start mt-3" for="password2">Confirme a
              sua senha:
            </label>
            <input id="password_confirmation" name="password2" type="password" class="form-control" required />
          </div>
          <input class="btn btn-outline-dark w-100 mt-2" type="submit" id="cadastrar" value="Cadastrar" />
        </form>
      </div>
    </div>
</div>
</main>